:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* HOME */

.home,
.principal {
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100svh;
  max-height: 100svh;
  flex-direction: column;
  gap: 0.2rem;
}
.home .create_group {
  background-color: greenyellow;
  padding: 0.1rem 0.2rem;
  border-radius: 5rem;
}

.home .users_list {
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home .users_list .user {
  width: 100%;
  list-style-type: none;
}

.home .users_list .user a {
  display: block;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: #b4f17663;
  position: relative;
}

.home .users_list .user a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #000;
  bottom: 0;
}

.home .users_list .user a img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.messages {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-items: center;
  flex-direction: column; */
  position: relative;
  height: 100svh;
  max-height: 100svh;
  width: 35rem;
  border: 1px solid #000;
}

.messages .header {
  border: 1px solid #000;
  background-color: greenyellow;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 1rem;
  position: absolute;
  width: 100%;
  height: 5rem;
}
.messages .header span {
  width: fit-content;
  background-color: blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.messages .header span svg {
  width: 2rem;
  height: 2rem;
  fill: #fff;
}

.messages .header img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.messages form {
  width: fit-content;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
  width: 100%;
}

.messages form input {
  width: 25rem;
  height: 2.5rem;
  font-size: 1rem;
  padding-inline: 0.5rem;
}

.messages .messages_container {
  width: 100%;
  height: 100svh;
  max-height: 100svh;
  overflow-y: scroll;
  padding-block: 6rem;
  padding-inline: 2rem;
}

.messages .messages_container .messages_list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.messages .messages_container .messages_list .message {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem;
  flex-direction: column;
  border-radius: 0.5rem;
  /* background: #; */
  background-color: greenyellow;
  max-width: 20rem;
}

.messages .messages_container .messages_list .message .date {
  font-size: 0.8rem;
  opacity: 0.7;
  text-align: left;
}

.messages .messages_container .messages_list .message.right .date {
  text-align: right;
}
.messages .messages_container .messages_list .right {
  align-self: flex-end;
  justify-self: flex-end;
}
